@{
    ViewData["Title"] = "Home Page";
}
<style>
    .h4{
        margin-top: 50px;
    }
    .img{
        height: 300px;
        width: 300px;
    }
    .h5{
        margin-top: 20px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <a href="https://www.pirireis.edu.tr" target="_blank"><img class="img" src="https://upload.wikimedia.org/wikipedia/tr/c/cf/PiriReisUniversitesiLogo.png" /></a>
    <p class="h5"><strong>Piri Reis Üniversitesi</strong></p>
    <p class="h4">MVC Blog Projesi - Geliştirici: Barış DALGIÇ</p>
</div>
